@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer _localizer
@{
    var theme = "bootstrap_Sandstone.css";
    var themIco = "/moon-stars-fill.svg";
    var themeCookies = Context.Request.Cookies["Theme"];
    if (themeCookies != null)
    {
        theme = $"/css/{themeCookies}";
        if (themeCookies == "bootstrap_Sandstone.css")
        {
            themIco = "/moon-stars-fill.svg";
        }
        else if (themeCookies == "bootstrap_Slate.css")
        {
            themIco = "/sun.svg";
        }
    }

    var cultureItems = new List<SelectListItem>()
    {
        new() {Value = "ru", Text = "Русский"},
        new() {Value = "en", Text = "English"}
    };
    foreach (var cultureItem in cultureItems)
    {
        if (cultureItem.Value == CultureInfo.CurrentCulture.Name)
        {
            cultureItem.Selected = true;
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AppWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="@theme" asp-append-version="true"/>
</head>
<body>
<div class="loading"></div>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow mb-3">
        <div class="container-fluid">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AppWeb</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            @_localizer["Home"]
                        </a>
                    </li>

                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin") || User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="GetUserReviews">
                                    @_localizer["GetUserReviews"]
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Review" asp-action="CreateOrUpdate">
                                    @_localizer["CreateOrUpdate"]
                                </a>
                            </li>
                        }
                        if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="GetUsers">
                                    @_localizer["Admin.GetUsers"]
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">
                                @_localizer["Logout"]
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
                                @_localizer["Login"]
                            </a>
                        </li>
                    }
                </ul>
                
                <div class="form-group row ">
                    <div>
                        <select asp-items="cultureItems"
                                class="form-control form-control-sm form-select"
                                id="culture"
                                onchange="document.location = `/Home/SetLanguage?culture=${this.value}`">
                        </select>
                    </div>
                </div>

                <img id="themeIco" class="themeIco" src="@themIco" alt="" onclick="ChangeUiTheme()"/>

                <form class="d-flex" asp-action="FullTextSearch" asp-controller="Search"
                      method="GET"
                      asp-anti-forgery="true"
                      name="FullTextSearchForm" id="FullTextSearchForm">
                    <input type="text"
                           class="form-control me-sm-2"
                           placeholder="Search"
                           name="search"
                           id="search"
                           maxlength="100"
                           value=""/>
                </form>

            </div>

        </div>
    </nav>
</header>
<div class="container">


    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - AppWeb
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>