@using Database.Models
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var review = (Review) ViewData["review"]!;
    var tags = (string) ViewData["tags"]!;
    var statusReviews = (List<StatusReview>) ViewData["statusReviews"]!;
    var productGroups = (List<ProductGroup>) ViewData["productGroups"]!;
}

<h2>Review Edit</h2>

<pre>
@tags
</pre>

<form asp-action="Edit" asp-controller="Review"
      method="POST"
      asp-anti-forgery="true"
      name="Review" id="ReviewEditForm">

    StatusReview:
    <select name="StatusReviewId">
        @{
            foreach (var v in statusReviews)
            {
                if (v.Id == review.StatusId)
                {
                    <option selected="" value="@v.Id">@v.Name</option>
                }
                else
                {
                    <option value="@v.Id">@v.Name</option>
                }
            }
        }
    </select>
    <br/>

    Product:
    <select name="ProductId">
        @{
            foreach (var v in productGroups)
            {
                if (v.Id == review.ProductId)
                {
                    <option selected="" value="@v.Id">@v.Name</option>
                }
                else
                {
                    <option value="@v.Id">@v.Name</option>
                }
            }
        }
    </select>
    <br/>
    ProductName:
    <input type="text" name="ProductName" maxlength="50" value="@review.ProductName"/>
    <br/>

    Title:
    <input type="text" name="Title" maxlength="100" value="@review.Title"/>
    <br/>

    Content:
    <textarea name="Content" maxlength="30000">@review.Content</textarea>
    <br/>

    AuthorAssessment:
    <select name="AuthorAssessment">
        @{
            for (var i = 1; i <= 5; i++)
            {
                if (i == review.AuthorAssessment)
                {
                    <option selected="" value="@i">@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }
            }
        }
    </select>
    <br/>

    <input type="hidden" name="TagsInput" id="tagsInput" value="@tags"/>

    <input type="submit" id="Edit" value="Edit"/>
</form>


<div id="tags">

</div>

<span id="TagsRecoms">
</span>

<input type="text" id="tagAdd"/>

<script>
let tags = document.getElementById("tags")
let tagsValues = []
let tagAdd = document.getElementById("tagAdd")
let tagsInput = document.getElementById("tagsInput")

AddTags(JSON.parse(tagsInput.value))

function AddTags(values) {
    for (let v of values) {
        if (v) {
            AddTag(v)
        }
    }
}

function AddTag(v) {
    if (v) {
        tagsValues.push(v)
    }
    tagsValues = tagsValues.filter(function (item, pos) {
        return tagsValues.indexOf(item) === pos;
    })
    tags.innerHTML = ''
    for (let v of tagsValues) {
        tags.innerHTML += `<div class="tag" onclick="tagOnclick(this)">${v}</div>`
    }
    tagsInput.value = JSON.stringify(tagsValues)
}

tagAdd.onkeydown = function (e) {
    if (tagAdd.value.length > 20) {
        e.preventDefault()
    }
    
    if (e.key === ' ') {
        let tags = tagAdd.value.split(' ')
        AddTags(tags)
        tagAdd.value = ''
        TagsRecomHide()
        e.preventDefault()
    }
}

function tagOnclick(element) {
    let value = element.innerHTML

    let index = tagsValues.indexOf(value);
    if (index > -1) {
        tagsValues.splice(index, 1)
    }
    element.remove()
    tagsInput.value = JSON.stringify(tagsValues)
}
</script>

<style>
    .tag
    {
        background: lightgray;
        display: inline-block;
        margin-right: 5px;
    }
</style>


<style>
#TagsRecoms{
    display: none;
    position: absolute;
    background: lightblue;
    margin: 10px;
}
.TagsRecom
{
    cursor: pointer;
    padding: 5px;
}
.TagsRecom:hover{
    background: lightgray;
}
</style>