@using Database.Models
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var review = (Review) ViewData["review"]!;
    var tags = (List<ReviewTag>) ViewData["tags"]!;
    var isUserLike = (bool) ViewData["IsUserLike"]!;
}

<input type="hidden" id="Id" name="Id" value="@review.Id"/>
<h2>@review.Title</h2>
<h4>@review.ProductName</h4>

<a href="/@review.AuthorId" id="Author">@review.Author.Nickname</a>

<a href="/@review.ProductId" id="Product">@review.Product.Name</a>

<div id="Content">@review.Content</div>

@if (review.CreationDate != review.RedactionDate)
{
    //m.RedactionDate
}
else if (review.CreationDate != review.DeletionDate)
{
    //@m.DeletionDate
}
else
{
    //m.CreationDate
}

AuthorAssessment = @review.AuthorAssessment
AverageUserRating = @review.AverageUserRating

@if (review.Status.Name == "Common")
{
    Comments:
    foreach (var v in review.Comment)
    {
        //v.Content;
    }
}

ReviewLike: @review.ReviewLike.Count

ReviewTag:
@foreach (var v in tags)
{
    <span>@v.Tag.Name</span>
}


@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <img id="Like" class="like" src="" alt=""/>
    
    <style>
        .like {
            width: 20px;
            cursor: pointer;
        }
    </style>
    
    <script>
        let like = document.getElementById("Like")
        let isUserLike = @isUserLike.ToString().ToLower()
        
        let likeSrc = "/like_white.svg";
        if (isUserLike) {
            likeSrc = "/like_black.svg";
        }
        like.src = likeSrc
        
        like.onclick = function () {
            let fetchHref = "/Like/Add?reviewId=@review.Id"
            if (isUserLike) {
                fetchHref = "/Like/Remove?reviewId=@review.Id"
            }
            fetch(fetchHref, {
                method: "GET"
            }).then((response) => {
                if (response.ok) {
                    if (isUserLike) {
                        like.src = "/like_white.svg"
                    } else {
                        like.src = "/like_black.svg"
                    }
                    isUserLike = !isUserLike
                }
            })
        }
    </script>
}


