@using Database.Models
@using Microsoft.AspNetCore.Html
@{
    var review = (Review) ViewData["review"]!;
    var isUserLike = (bool) ViewData["IsUserLike"]!;

    ViewBag.Title = $"Review | {review.Title} | {review.ProductName}";
    Layout = "_Layout";
}


<div class="card border-light mb-5">
    <div class="card-header">
        <h5>
            <a asp-controller="Product" asp-action="Get" asp-route-id="@review.Product.Id" class="Reviews-url hoverBold">
                @review.Product.Name
            </a>
            <a asp-controller="Review" asp-action="Get" asp-route-id="@review.Id" class="Reviews-url hoverBold">
                <small class="text-primary">@review.ProductName</small>
            </a>
        </h5>
    </div>
    <div class="card-body">
        <h4 class="card-title">
            <a asp-controller="Review" asp-action="Get" asp-route-id="@review.Id" class="Reviews-url hoverBold">
                @review.Title
            </a>
        </h4>
        <div class="reviewsContent mb-2">
            <a asp-controller="Review" asp-action="Get" asp-route-id="@review.Id" class="Reviews-url">
                <p class="card-text card-text-Review">
                    @(new HtmlString(review.Content))
                </p>
            </a>
        </div>
        <div class="reviewsTags">
            @{
                var tagsCount = 0;
                foreach (var reviewTag in review.ReviewTag)
                {
                    tagsCount++;
                    <a asp-controller="Tag" asp-action="Get" asp-route-id="@reviewTag.Tag.Id" class="Reviews-url hoverBold">
                        <span class="badge bg-secondary">
                            @reviewTag.Tag.Name
                        </span>
                    </a>
                    if (tagsCount > 5)
                    {
                        break;
                    }
                }
            }
        </div>
        <div>
            @for (var i = 1; i <= 5; i++)
            {
                if (i <= review.AuthorAssessment)
                {
                    <span class="fullStar">★</span>
                }
                else
                {
                    <span class="emptyStar">☆</span>
                }
            }
            <div class="reviewsUserRating">
                <img id="Like" class="like" src="/like_black.svg" alt=""/> @review.ReviewLike.Count
                User Rating:
                @if (review.AverageUserRating >= 4)
                {
                    <span class="badge rounded-pill bg-success">@review.AverageUserRating</span>
                }
                @if (review.AverageUserRating > 2.8 && review.AverageUserRating < 4)
                {
                    <span class="badge rounded-pill bg-warning">@review.AverageUserRating</span>
                }
                @if (review.AverageUserRating <= 2.8)
                {
                    <span class="badge rounded-pill bg-danger">@review.AverageUserRating</span>
                }
            </div>
        </div>
        <h6>
            <a asp-controller="User" asp-action="Get" asp-route-id="@review.Author.Id" class="Reviews-url hoverBold">
                @review.Author.Nickname
            </a> | @review.CreationDate
        </h6>
    </div>
</div>



@if (review.Status.Name == "Common")
{
    <span>Comments:</span>
    foreach (var v in review.Comment)
    {
        //v.Content;
    }
}



<hr/>
<input type="hidden" id="Id" name="Id" value="@review.Id"/>
@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <select name="UserRating" id="UserRating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <script>
        let userRating = document.getElementById("UserRating")
        userRating.onclick = function () {
            fetch(`/ReviewUserRating/Set?reviewId=@review.Id&assessment=${this.value}`, {method: "GET"})
        }
    </script>

    <img id="Like" class="like" src="" alt=""/>
    <style>
        .like {
            cursor: pointer;
        }
    </style>
    <script>
        let like = document.getElementById("Like")
        let isUserLike = @isUserLike.ToString().ToLower()
        
        let likeSrc = "/like_white.svg";
        if (isUserLike) {
            likeSrc = "/like_black.svg";
        }
        like.src = likeSrc
        
        like.onclick = function () {
            let fetchHref = "/Like/Add?reviewId=@review.Id"
            if (isUserLike) {
                fetchHref = "/Like/Remove?reviewId=@review.Id"
            }
            fetch(fetchHref, {
                method: "GET"
            }).then((response) => {
                if (response.ok) {
                    if (isUserLike) {
                        like.src = "/like_white.svg"
                    } else {
                        like.src = "/like_black.svg"
                    }
                    isUserLike = !isUserLike
                }
            })
        }
    </script>
}