@using Database.Models
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Home Page";
    
    var newReviews = (List<Review>) ViewData["NewReviews"]!;
    var topReviews = (List<Review>) ViewData["TopReviews"]!;
    var topTags = (string) ViewData["TopTags"]!;
}


<hr/>
<h1>New Reviews:</h1>
@foreach (var v in newReviews)
{
    <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-header">
            Header
        </div>
        <div class="card-body">
            <h4 class="card-title">
                Light card title
            </h4>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
        </div>
    </div>
    
    <div>@v.Id | @v.Title | @v.AverageUserRating | @v.CreationDate</div>
}

Id
ProductId
AuthorId
StatusId
ProductName
Title
Content
DateTime CreationDate
DateTime RedactionDate
DateTime DeletionDate
AuthorAssessment
AverageUserRating

    


<hr/>
<h1>Top Reviews:</h1>
@foreach (var v in topReviews)
{
    <div>@v.Id | @v.Title | @v.AverageUserRating | @v.CreationDate</div>
}


<hr/>
<a asp-controller="Account" asp-action="Login">Login</a>
<br/>
<a asp-controller="Account" asp-action="Logout">Logout</a>
<br/>

@{
    var name = User.Identity?.Name;

    var uid = User.FindFirst("Uid")?.Value;
    var email = User.FindFirst("Email")?.Value;
    var network = User.FindFirst("Network")?.Value;
}

<div>Uid: @uid | Email: @email | Network: @network</div>


<div>
    <a asp-controller="User" asp-action="GetUsers">Admin Users</a>
</div>
<div>
    <a asp-controller="User" asp-action="GetUserReviews">User PersonalPage</a>
</div>


<hr/>

<style>
#tag-cloud {
    display: block;
}
#tag-cloud li {
    display: inline-block;
    padding-right: 20px;
}
#tag-cloud li:nth-last-child(1) {
    padding-right: 0px;
}
#tag-cloud li a {
    color: grey;
}
#tag-cloud li a:hover {
    color: black;
}
</style>

<div id="wrapper-tag-cloud">
    <ul id="tag-cloud">
    </ul>
</div>

<input type="hidden" id="cloudJson" value="@topTags"/>

<script>
let json = document.getElementById('cloudJson').value
let data = JSON.parse(json)
let ulTag = document.getElementById("tag-cloud")
let minFontSize = 1
let maxFontSize = 2
let liTags = ""
let weights = []
for (let v of data) {
    if (!weights.includes(v.Amount)) {
        weights.push(v.Amount)
    }
}
weights.sort((a, b) => a - b)
let shuffledArray = data.sort((a, b) => 0.5 - Math.random());
for (let v of shuffledArray) {
    let title = v.Name
    let url = v.url
    let m = weights.indexOf(v.Amount) + 1
    let a = ((m - weights[0]) / (weights.length - weights[0]))
    let dif = (maxFontSize - minFontSize)
    let font_size = a * dif + minFontSize
    liTags = liTags.concat(`<li>
            	<a href="${url}" style="font-size: ${font_size}em;">
                	${title} [${v.Amount}]
                </a>
            </li>`)
}
ulTag.innerHTML = liTags
</script>