@using Database.Models
@{
    ViewData["Title"] = "Home Page";

    var newReviews = (List<Review>) ViewData["NewReviews"]!;
    var topReviews = (List<Review>) ViewData["TopReviews"]!;

    var newReviewsImage = (Dictionary<int, string?>) ViewData["newReviewsImage"]!;
    var topReviewsImage = (Dictionary<int, string?>) ViewData["topReviewsImage"]!;
}


<h6>New Reviews:</h6>
<hr/>

@foreach (var v in newReviews)
{
    <div class="card border-light mb-5">
        <div class="card-header">
            <h5>
                <a asp-controller="Product" asp-action="Get" asp-route-id="@v.Product.Id" class="Reviews-url">
                    @v.Product.Name
                </a>
                <a asp-controller="Review" asp-action="Get" asp-route-id="@v.Id" class="Reviews-url">
                    <small class="text-primary">@v.Product.Name</small>
                </a>
            </h5>
        </div>

        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Review" asp-action="Get" asp-route-id="@v.Id" class="Reviews-url">
                    @v.Title
                </a>
            </h4>

            <div class="reviewsContent mb-2">
                <a asp-controller="Review" asp-action="Get" asp-route-id="@v.Id" class="Reviews-url">
                    <p class="card-text card-text-Review">
                        @if (newReviewsImage.ContainsKey(v.Id))
                        {
                            var src = newReviewsImage[v.Id];
                            <img src="@src" class="ReviewsImage" alt=""/>
                        }
                        @v.Content
                    </p>
                </a>
            </div>

            <div class="reviewsTags">
                @{
                    var tagsCount = 0;
                    foreach (var reviewTag in v.ReviewTag)
                    {
                        tagsCount++;
                        <a asp-controller="Tag" asp-action="Get" asp-route-id="@reviewTag.Tag.Id" class="Reviews-url">
                            <span class="badge bg-secondary">
                                @reviewTag.Tag.Name
                            </span>
                        </a>
                        if (tagsCount > 5)
                        {
                            break;
                        }
                    }

                }
            </div>

            <div>
                @for (var i = 1; i <= 5; i++)
                {
                    if (i <= v.AuthorAssessment)
                    {
                        <span class="fullStar">★</span>
                    }
                    else
                    {
                        <span class="emptyStar">☆</span>
                    }
                }

                <div class="reviewsUserRating">
                    <img id="Like" class="like" src="/like_black.svg" alt=""/> @v.ReviewLike.Count
                    User Rating:
                    @if (v.AverageUserRating >= 4)
                    {
                        <span class="badge rounded-pill bg-success">@v.AverageUserRating</span>
                    }
                    @if (v.AverageUserRating > 2.8 && v.AverageUserRating < 4)
                    {
                        <span class="badge rounded-pill bg-warning">@v.AverageUserRating</span>
                    }
                    @if (v.AverageUserRating <= 2.8)
                    {
                        <span class="badge rounded-pill bg-danger">@v.AverageUserRating</span>
                    }
                </div>

            </div>

            @{
                var time = v.CreationDate;
                /*if (time.Ticks != v.RedactionDate.Ticks)
                {
                    time = v.RedactionDate;
                }*/
            }

            <h6>
                <a asp-controller="User" asp-action="Get" asp-route-id="@v.Author.Id" class="Reviews-url">
                    @v.Author.Nickname
                </a> | @time
            </h6>

        </div>
    </div>
}


<h6>Top Reviews:</h6>
<hr/>

@foreach (var v in topReviews)
{
    <div class="card border-light mb-5">
        <div class="card-header">
            <h5>
                <a asp-controller="Product" asp-action="Get" asp-route-id="@v.Product.Id" class="Reviews-url">
                    @v.Product.Name
                </a>
                <a asp-controller="Review" asp-action="Get" asp-route-id="@v.Id" class="Reviews-url">
                    <small class="text-primary">@v.Product.Name</small>
                </a>
            </h5>
        </div>

        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Review" asp-action="Get" asp-route-id="@v.Id" class="Reviews-url">
                    @v.Title
                </a>
            </h4>

            <div class="reviewsContent mb-2">
                <a asp-controller="Review" asp-action="Get" asp-route-id="@v.Id" class="Reviews-url">
                    <p class="card-text card-text-Review">
                        @if (topReviewsImage.ContainsKey(v.Id))
                        {
                            var src = topReviewsImage[v.Id];
                            <img src="@src" class="ReviewsImage" alt=""/>
                        }
                        @v.Content
                    </p>
                </a>
            </div>

            <div class="reviewsTags">
                @{
                    var tagsCount = 0;
                    foreach (var reviewTag in v.ReviewTag)
                    {
                        tagsCount++;
                        <a asp-controller="Tag" asp-action="Get" asp-route-id="@reviewTag.Tag.Id" class="Reviews-url">
                            <span class="badge bg-secondary">
                                @reviewTag.Tag.Name
                            </span>
                        </a>
                        if (tagsCount > 5)
                        {
                            break;
                        }
                    }

                }
            </div>

            <div>
                @for (var i = 1; i <= 5; i++)
                {
                    if (i <= v.AuthorAssessment)
                    {
                        <span class="fullStar">★</span>
                    }
                    else
                    {
                        <span class="emptyStar">☆</span>
                    }
                }

                <div class="reviewsUserRating">
                    <img id="Like" class="like" src="/like_black.svg" alt=""/> @v.ReviewLike.Count
                    User Rating:
                    @if (v.AverageUserRating >= 4)
                    {
                        <span class="badge rounded-pill bg-success">@v.AverageUserRating</span>
                    }
                    @if (v.AverageUserRating > 2.8 && v.AverageUserRating < 4)
                    {
                        <span class="badge rounded-pill bg-warning">@v.AverageUserRating</span>
                    }
                    @if (v.AverageUserRating <= 2.8)
                    {
                        <span class="badge rounded-pill bg-danger">@v.AverageUserRating</span>
                    }
                </div>

            </div>

            @{
                var time = v.CreationDate;
                /*if (time.Ticks != v.RedactionDate.Ticks)
                {
                    time = v.RedactionDate;
                }*/
            }

            <h6>
                <a asp-controller="User" asp-action="Get" asp-route-id="@v.Author.Id" class="Reviews-url">
                    @v.Author.Nickname
                </a> | @time
            </h6>

        </div>
    </div>
}


<hr/>
<a asp-controller="Account" asp-action="Login">Login</a>
<br/>
<a asp-controller="Account" asp-action="Logout">Logout</a>
<br/>

@{
    var name = User.Identity?.Name;

    var uid = User.FindFirst("Uid")?.Value;
    var email = User.FindFirst("Email")?.Value;
    var network = User.FindFirst("Network")?.Value;
}

<div>Uid: @uid | Email: @email | Network: @network</div>


<div>
    <a asp-controller="User" asp-action="GetUsers">Admin Users</a>
</div>
<div>
    <a asp-controller="User" asp-action="GetUserReviews">User PersonalPage</a>
</div>


<hr/>
<div id="wrapper-tag-cloud">
    <ul id="tag-cloud">

    </ul>
</div>

<script>
window.onload = () => {
    MainPageLoadTopTags("tag-cloud")
}
</script>