@using Database.Models
@model dynamic
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewBag.Title = _localizer["Admin User"];
    Layout = "_Layout";
    var user = (User) ViewData["user"]!;
    var roles = (List<Role>) ViewData["roles"]!;
}

<h2>@_localizer["Admin User"]</h2>

<a asp-controller="User" asp-action="GetUserReviews"
   asp-route-id="@user.Id">
    @_localizer["Get User Reviews"]
</a> <br/>

<form asp-action="UpdateUser" asp-controller="User"
      method="POST" asp-anti-forgery="true">

    <input type="hidden" name="Id" value="@user.Id"/>
    Id : @user.Id <br/>

    
    @_localizer["RegistrationDate"]: @user.RegistrationDate <br/>
    @_localizer["LastLoginDate"]: @user.LastLoginDate <br/>
    @_localizer["ReviewsLikes"]: @user.ReviewsLikes <br/>

    @_localizer["Nickname"]: <input type="text" name="Nickname" value="@user.Nickname"/> <br/>
    @_localizer["Role_Name"]:
    <select name="RoleId">
        @{
            foreach (var v in roles)
            {
                @if (user.RoleId == v.Id)
                {
                    <option selected="" value="@v.Id">@v.Name</option>
                }
                else
                {
                    <option value="@v.Id">@v.Name</option>
                }
            }
        }
    </select>
    <br/>

    @_localizer["Social_Email"]: @user.Social.Email <br/>
    @_localizer["Social_Network"]: @user.Social.Network <br/>
    @_localizer["Social_FirstName"]: @user.Social.FirstName <br/>
    @_localizer["Social_LastName"]: @user.Social.LastName <br/>

    @_localizer["Comment.Count"]: @user.Comment.Count <br/>
        @_localizer["Review.Count"]: @user.Review.Count <br/>

    <input type="submit" value="@_localizer["Update User"]">
</form>